apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vllm-qwen3-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: default
  volumeMode: Filesystem